  :root {
      /* Primary Colours */
      --blue: hsl(223, 87%, 63%);
      /* Secondary Colours */

      --pale-blue     : hsl(223, 100%, 88%);
      --light-red     : hsl(354, 100%, 66%);
      /* Neutral Colours */
      --gray          : hsl(0, 0%, 59%);
      --very-dark-blue: hsl(209, 33%, 12%);

      /* Base font-size */
      font-size: 20px;
  }

  /* Initialization */
  *,
  ::before,
  ::after {
      box-sizing: border-box;
      margin    : 0;
      padding   : 0;
  }

  body {
      align-items     : center;
      background-color: white;
      display         : flex;
      flex-direction  : column;
      font-family     : "Libre Franklin", sans-serif;
      font-weight     : 300;
      min-height      : 100vh;
      min-width       : 100vw;
  }

  header img {
      margin-top: 4.3em;
  }

  .hero-section h1 {
      color      : var(--gray);
      font-size  : 2.35em;
      font-weight: 300;
      margin-top : .95em;
  }

  .hero-section h1 strong {
      color: var(--very-dark-blue);
  }

  .hero-section p {
      color     : var(--very-dark-blue);
      margin-top: .9em;
      text-align: center;
  }

  .email-subscription {
      display       : flex;
      flex-direction: row;
      gap           : .8em;
      height        : 2.8em;
      margin-top    : 2em;
      position      : relative;
  }

  .email-subscription input[type="email"] {
      border       : 1px solid var(--gray);
      border-radius: 5em;
      color        : var(--gray);
      font-family  : "Libre Franklin", sans-serif;
      font-size    : .85em;
      font-weight  : 300;
      height       : 100%;
      margin-left  : .25em;
      outline      : 0;
      padding      : 1em 1.75em;
      width        : 24.8em;
  }

  .email-subscription input[type="email"]:focus {
      border-color: var(--blue);
      color       : var(--blue);
  }

  .email-subscription p {
      display  : none;
      font-size: .65em;
      left     : 2.7em;
      position : absolute;
      top      : 4.95em;
  }

  .email-subscription input.error {
      border-color: var(--light-red);
  }

  .email-subscription p {
      color: var(--light-red);
  }

  .email-subscription input[type="submit"] {
      background-color: var(--blue);
      border          : 0;
      border-radius   : 5em;
      box-shadow      : 0 20px 25px -5px hsla(223, 87%, 63%, 0.1), 0 8px 10px -6px hsla(223, 87%, 63%, 0.75);
      color           : white;
      cursor          : pointer;
      font-size       : .85em;
      font-weight     : 600;
      height          : 100%;
      outline         : 0;
      width           : 11.75em;
  }

  .email-subscription input[type="submit"]:hover {
      background-color: var(--pale-blue);
      transition      : all ease-in-out .3s;
  }

  main img {
      margin-top: 4.3em;
      width     : 32em;
  }

  footer .social-links-group {
      display        : flex;
      flex-direction : row;
      gap            : .7em;
      justify-content: center;
      margin-top     : 3.45em;
      width          : 100%;
  }

  footer .social-links-group .icon {
      align-items    : center;
      border         : 1px solid var(--gray);
      border-radius  : 50%;
      color          : var(--blue);
      display        : flex;
      font-size      : .75em;
      height         : 2em;
      justify-content: center;
      width          : 2em;
  }

  footer .social-links-group .icon:hover {
      background-color: var(--blue);
      border-color    : var(--blue);
      color           : white;
      cursor          : pointer;
      transition      : all ease-in-out .3s;
  }

  footer p {
      color     : var(--gray);
      font-size : .6em;
      margin-top: 2em;
  }

  @media (max-width: 375px) {
      body {
          overflow-y: scroll;
          padding   : 1.4em;
      }

      header img {
          margin-top: 2.83em;
          width     : 2.7em;
      }

      .hero-section h1 {
          font-size : 1.11em;
          margin-top: 1.555em;
      }

      .hero-section p {
          font-size : .605em;
          margin-top: 1.455em;
      }

      .email-subscription {
          flex-direction: column;
          gap           : .5em;
          height        : max-content;
          margin-top    : 1.6em;
          width         : 89%;
      }

      .email-subscription input[type="email"] {
          font-size   : .6em;
          height      : 3.3em;
          margin      : 0;
          padding     : .75em 0;
          padding-left: 2.775em;
          width       : 100%;
      }

      .email-subscription p {
          font-size: .5em;
          left     : 5.75em;
          top      : 4.625em;
      }

      .email-subscription #empty-error {
          left: 2.75em;
      }

      .email-subscription input.error~p+input[type="submit"] {
          margin-bottom: -2.75em;
          margin-top   : 2.75em;
      }

      .email-subscription input[type="submit"] {
          font-size: .59em;
          height   : 3.4em;
          width    : 100%;
      }

      main img {
          margin-top: 3.45em;
          width     : 100%;
      }

      footer .social-links-group {
          margin-top: 5.8em;
      }

      footer p {
          margin-top: 2.75em;
          font-size : .5em;
      }
  }